/* Start  Global Variables */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --line-height: 1.8;
    --transition-duration: 0.5s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

/* End  Global Variables */

/* Start Regular Used Components */
.main-headings {
    margin: 0 auto 80px;
    text-transform: uppercase;
    width: fit-content;
    border: 3px solid black;
    padding: 10px 20px;
    z-index: 1;
    position: relative;
    transition-duration: var(--transition-duration);
}

.main-headings::before,
.main-headings::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-headings::before {
    left: -30px;
}

.main-headings:hover::before {
    animation: right-move var(--transition-duration) linear forwards;
}

.main-headings::after {
    right: -30px;
}

.main-headings:hover::after {
    animation: left-move var(--transition-duration) linear forwards;
}

.main-headings:hover {
    transition-delay: var(--transition-duration);
    color: white;
    border-color: white;
}

/* End Regular Used Components */

/* Start Setup and Reset General Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::selection {
    background-color: var(--main-color);
    color: white;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Setup and Reset General Rules */

/* Start Header Section */
header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #dddddd;
    -moz-box-shadow: 0 0 10px #dddddd;
    box-shadow: 0 0 10px #dddddd;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .logo {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    height: 73.56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    header .logo {
        width: 100%;
        height: 50px;
    }
}

header nav>ul {
    display: flex;
}

header nav>ul>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 73.56px;
    color: black;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    transition-duration: var(--transition-duration);
}

@media (max-width: 767px) {
    header nav {
        margin: auto;
    }

    header nav>ul>li>a {
        font-size: 14px;
        padding: 10px;
        height: 40px;
    }
}

header nav>ul>li>a::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition-duration: var(--transition-duration);
}

header nav>ul>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

header nav>ul>li:hover .mega-menu {
    opacity: 1;
    z-index: 1024;
    top: calc(100% + 1px);
}

header nav>ul>li>a:hover::before {
    left: 0;
}

header .mega-menu {
    position: absolute;
    display: flex;
    left: 0;
    top: calc(100% + 50px);
    z-index: -1;
    background-color: white;
    width: 100%;
    opacity: 0;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    gap: 40px;
    transition: top var(--transition-duration), opacity var(--transition-duration);
}

header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    header .mega-menu .image {
        display: none;
    }
}

header .mega-menu .links {
    min-width: 160px;
    flex: 1;
}

@media (max-width: 767px) {
    header .mega-menu {
        flex-direction: column;
        padding: 5px;
        gap: 0;
    }
}

header .mega-menu .links li {
    position: relative;
}

header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

header .mega-menu .links li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition-duration: var(--transition-duration);
}

header .mega-menu .links li:hover::before {
    width: 100%;
}

header .mega-menu .links li a {
    color: var(--main-color);
    padding: 20px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

header .mega-menu .links li a i {
    margin-right: 10px;
}

/* End Header Section */

/* Start Landing Section */
.landing {
    position: relative;
}

.landing::before {
    content: '';
    position: absolute;
    background-color: #ececec;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 73.56px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

@media (max-width: 991px) {
    .landing .container {
        flex-direction: column;
        text-align: center;
    }
}

.landing .container .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .container .text {
        margin-top: 50px;
    }
}

.landing .container .text h1 {
    margin: 0;
    font-size: 40px;
    letter-spacing: -2px;
}

.landing .container .text p {
    color: #666666;
    line-height: var(--line-height);
    margin: 0;
    margin-top: 5px;
    max-width: 500px;
    font-size: 1.3rem;
}

@media (max-width: 767px) {
    .landing .container .text h1 {
        font-size: 35px;
    }
}

.landing .container .image img {
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 767px) {
    .landing .container .image img {
        width: 300px;
    }
}

.landing .container .go-down {
    position: absolute;
    color: var(--main-color);
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: var(--transition-duration);
}

.landing .container .go-down:hover {
    color: var(--main-color-alt);
}

.landing .container .go-down i {
    animation: bouncing 1.5s infinite;
}

.landing .container .go-down:hover i {
    animation-play-state: paused;
}

/* End Landing Section */

/* Start Articles Section */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .container .box {
    -webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    transition-duration: var(--transition-duration);
}

.articles .container .box:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .container .box img {
    /* Used when Images have different Dimensions */
    width: 100%;
    /* Make Images Fit Box Size */
    max-width: 100%;
    transition-duration: var(--transition-duration);
}

.articles .container .box:hover img {
    transform: scale(1.1);
}

.articles .container .box .content {
    padding: 20px;
    border-bottom: 2px solid #e6e6e7;
}

.articles .container .box .content p {
    line-height: var(--line-height);
    margin-top: 20px;
    color: #777777;
}

.articles .container .box .info {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articles .container .box .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .container .box .info i {
    color: var(--main-color);
}

.articles .container .box:hover .info i {
    animation: bounceRight var(--transition-duration) linear infinite;
}
/* End Articles Section */

/* Start Animation Section */
@keyframes up-and-down {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    40% {
        transform: translateX(-50%) translateY(-30px);
    }

    60% {
        transform: translateX(-50%) translateY(-15px);
    }
}

@keyframes right-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
        z-index: -1;
    }

    100% {
        border-radius: 0;
        left: 0;
        width: 55%;
        height: 100%;
        z-index: -1;
    }
}

@keyframes left-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
        z-index: -1;
    }

    100% {
        border-radius: 0;
        right: 0;
        width: 55%;
        height: 100%;
        z-index: -1;
    }
}

@keyframes bounceRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(8px);
    }
}
/* End Animation Section */